@charset "utf-8";


@function spacing($value) {
  $spacing-const: 1em / 18;
  @return $value * $spacing-const;
}


math-n {
  padding: 0em spacing(0);
  line-height: 1;
}


math-i {
  padding: 0em spacing(0);
  line-height: 1;
  font-style: italic;

  &.fun {
    padding: 0em spacing(3) 0em spacing(0);
    font-style: normal;
  }

  &.alt {
    font-family: "Math";
    font-style: normal;
  }

}


math-o {
  padding: 0em spacing(4);
  line-height: 0.8;
  font-family: "Math";

  &.bin {
    padding: 0em spacing(4);
  }

  &.rel {
    padding: 0em spacing(5);
  }

  &.del {
    padding: 0em spacing(5) 0em spacing(0);
  }

  &.ord {
    padding: 0em spacing(0);
  }

  &.acc {
    padding: 0em spacing(0);
    height: 0.2em;
    line-height: 0.9;
    vertical-align: -0.3em;
  }

  &.int {
    padding: 0em spacing(0);
    height: 2.3em;
    line-height: 2.3em;
  }

  &.sum {
    padding: 0.1em spacing(0);
    line-height: 1.4em;
  }

  &.txt {
    font-family: inherit;
  }

  &.lp {
    padding: 0em spacing(0) 0em spacing(1);
  }

  math-i.fun +&.lp {
    padding: 0em spacing(0) 0em spacing(1);
    margin-left: spacing(-3);
  }

  &.rp {
    padding: 0em spacing(1) 0em spacing(0);
  }

  math-sub &,
  math-sup &,
  math-under &,
  math-over & {
    padding-left: spacing(0) !important;
    padding-right: spacing(0) !important;
  }

  * >&:first-child {
    padding-left: spacing(0);
    padding-right: spacing(0);
  }

}


math-frac {
  padding: 0em spacing(2) !important;
  vertical-align: 0.15em;

  >math-num {
    margin: 0em 0em -0.1em 0em;
    text-align: center;
    display: block;
  }

  >math-denwrap {
    margin: 0em 0em;
    width: 100%;
    display: inline-table;
  }

  >math-denwrap >math-line {
    margin: 0em spacing(-2);
    padding: 0em spacing(2) !important;
    width: 100%;
    height: 1px;
    border-top: 1px solid;
    box-sizing: content-box;
  }

  >math-denwrap >math-den {
    margin: 0em 0em;
    text-align: center;
    display: block;
  }

}


math-sqrt {

  >math-surd {
    margin: 0.27em 0em 0em 0em;
    vertical-align: top;
    font-size: 90%;
  }

  >math-surd.s1 {
    margin: 0.93em 0em 0em 0em;
  }

  >math-surd.s2 {
    margin: 1.46em 0em 0em 0em;
  }

  >math-surd.s3 {
    margin: 1.97em 0em 0em 0em;
  }

  >math-surd >math-o,
  >math-surd >math-o.var {
    padding: 0em spacing(0);
  }

  >math-sqrtcont {
    padding: 0.1em spacing(1) 0em spacing(0);
    border-top: 1px solid;
  }

}


math-subsup {
  
  >math-base {
    margin: 0em spacing(0);
  }

  >math-sub {
    padding: 0em spacing(0);
    vertical-align: -0.36em;
    font-size: 80%;
  }

  >math-sup {
    padding: 0em spacing(0);
    vertical-align: 0.51em;
    font-size: 80%;
  }

  &.int {
    margin: 0em spacing(0);
  }

  &.sub {
    margin-bottom: -0.05em;
  }

  &.sup {
    margin-top: -0.05em;
  }

}


math-underover {

  >math-over {
    margin: 0em 0em;
    font-size: 80%;
    text-align: center;
    display: block;
  }

  &.acc >math-over {
    font-size: 100%;
  }

  >math-basewrap {
    margin: 0em 0em;
    width: 100%;
    display: inline-table;
  }

  >math-basewrap >math-base {
    margin: 0em 0em;
    text-align: center;
    display: block;
  }

  >math-basewrap >math-under {
    margin: 0em 0em;
    font-size: 80%;
    text-align: center;
    display: block;
  }

  &.acc >math-basewrap >math-under {
    font-size: 100%;
  }

  &.under {
    margin-bottom: -0.05em;
  }

  &.over {
    margin-top: -0.05em;
  }

}


math-vstretch {

  >math-top,
  >math-bar >math-barcont,
  >math-mid,
  >math-bot {
    height: 1.25em;
    line-height: 2em;
    font-family: "Math";
    display: block;
  }

  >math-mid {
    height: 1.9em;
    line-height: 3.4em;
  }

  >math-bar {
    overflow: hidden;
  }

  >math-bar >math-barcont {
    transform: scale(1, 100);
  }

}


math-table {
  gap: spacing(6) spacing(15);
  vertical-align: middle;
  display: inline-grid !important;
  align-items: baseline;

  >math-cell {
    text-align: center;
    vertical-align: baseline;
  }

}


math-text {
  white-space: pre;
}


math-root {
  line-height: 0;
  display: inline-block;
  box-sizing: border-box;
  white-space: nowrap;

  * {
    display: inline-block;
    box-sizing: border-box;
  }

  * >*:first-child {
    padding-left: spacing(0);
  }

  * >*:last-child {
    padding-right: spacing(0);
  }

  @for $i from 0 through 18 {
    .l#{$i} {
      padding-left: spacing($i);
    }
  }

  @for $i from 0 through 18 {
    .r#{$i} {
      padding-right: spacing($i);
    }
  }

}


@font-face {
  font-family: "Math";
  src: url("__mathfonturl__");
}