@charset "utf-8";


@function spacing($value) {
  $spacing-const: 1em / 18;
  @return $value * $spacing-const;
}


@mixin math-font {
  padding-top: 0.12em;
  padding-bottom: 0em;
  line-height: 0.9;
  font-family: "Math";
}

@mixin normal-font {
  padding-top: 0em;
  padding-bottom: 0em;
  font-family: inherit;
}


math-n {
  margin: 0em spacing(0);
  line-height: 1;
}


math-i {
  margin: 0em spacing(0);
  line-height: 1;
  font-style: italic;

  &.fun {
    font-style: normal;
  }

  &.rm {
    font-style: normal;
  }

  &.bf {
    font-weight: bold;
  }

  &.alt {
    @include math-font;
    font-style: normal;
  }

}


math-o {
  @include math-font;

  &.txt {
    @include normal-font;
  }

  &.sml {
    @include normal-font;
    font-variant: all-small-caps;
  }

  &.int {
    padding-top: 0em;
    padding-bottom: 0em;
    height: 2.3em;
    line-height: 2.3em;
  }

  &.sum {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    line-height: 1.4em;
  }

  &.acc {
    padding-top: 0em;
    padding-left: 0.45em;
  }

  math-over >&.acc {
    padding-top: 0.1em;
    margin-right: -0.15em !important;
  }

  math-under >&.acc {
    padding-bottom: 0.1em;
    margin-left: -0.1em !important;
  }

  math-over >&.wid {
    padding-top: 0.1em;
    padding-bottom: 0em;
  }

  math-under >&.wid {
    padding-top: 0em;
    padding-bottom: 0.1em;
  }

  math-sub &,
  math-sup &,
  math-under &,
  math-over &,
  math-arrow & {
    margin-left: spacing(0) !important;
    margin-right: spacing(0) !important;
  }

  *:not(.lpres) >&:first-child {
    margin-left: spacing(0);
    margin-right: spacing(0);
  }

}


math-frac {
  margin: 0em spacing(2) !important;
  vertical-align: 0.15em;

  >math-num {
    margin-bottom: -0.1em;
    text-align: center;
    display: block;
  }

  >math-denwrap {
    margin: 0em 0em;
    width: 100%;
    display: inline-table;
  }

  >math-denwrap >math-line {
    margin: 0em spacing(-2) !important;
    padding: 0em spacing(2) !important;
    width: 100%;
    height: 0.06em;
    border-top: 0.06em solid;
    box-sizing: content-box;
  }

  >math-denwrap >math-den {
    margin: 0em 0em;
    text-align: center;
    display: block;
  }

}


math-sqrt {
  margin-top: 0.05em;

  >math-surd {
    margin-top: 0.09em;
    vertical-align: top;
  }

  >math-sqrtcont {
    margin: 0em spacing(1) 0em spacing(0);
    padding-top: 0.1em;
    border-top: 0.06em solid;
  }

}


math-subsup {
  
  >math-base {
    margin: 0em spacing(0);
  }

  >math-sub {
    margin-bottom: -0.05em;
    vertical-align: -0.36em;
    font-size: 80%;
    text-align: left;
  }

  >math-sup {
    margin-top: -0.05em;
    vertical-align: 0.51em;
    font-size: 80%;
    text-align: left;
  }

  &.int {
    margin: 0em spacing(0);
  }

}


math-underover {

  >math-over {
    margin-top: -0.05em;
    font-size: 80%;
    text-align: center;
    display: block;
  }

  &.acc >math-over {
    margin-bottom: -0.8em;
    font-size: 100%;
  }

  &.wid >math-over {
    margin-bottom: -0.8em;
    font-size: 100%;
  }
  
  >math-basewrap {
    margin: 0em 0em;
    width: 100%;
    display: inline-table;
  }

  >math-basewrap >math-base {
    margin: 0em 0em;
    text-align: center;
    display: block;
  }

  >math-basewrap >math-under {
    margin-bottom: -0.05em;
    font-size: 80%;
    text-align: center;
    display: block;
  }

  &.acc >math-basewrap >math-under {
    margin-top: -0.8em;
    font-size: 100%;
  }

  &.wid >math-basewrap >math-under {
    margin-top: -0.7em;
    font-size: 100%;
  }

}


math-vstretch {

  >math-start,
  >math-barwrap >math-bar,
  >math-middle,
  >math-end {
    height: 1.25em;
    line-height: 2em;
    font-family: "Math";
    display: block;
  }

  >math-middle {
    height: 1.9em;
    line-height: 3.4em;
  }

  >math-barwrap {
    overflow: hidden;
  }

  >math-barwrap >math-bar {
    transform: scale(1, 100);
  }

}


math-hstretch {

  >math-start,
  >math-barwrap >math-bar,
  >math-middle,
  >math-end {
    font-family: "Math";
    line-height: 0.8em;
  }

  math-over >& >math-start,
  math-over >& >math-barwrap,
  math-over >& >math-middle,
  math-over >& >math-end {
    padding-top: 0.2em;
    vertical-align: top;
  }

  math-under >& >math-start,
  math-under >& >math-barwrap,
  math-under >& >math-middle,
  math-under >& >math-end {
    padding-bottom: 0.2em;
    vertical-align: bottom;
  }

  >math-barwrap {
    overflow: hidden;
  }

  >math-barwrap >math-bar {
    transform: scale(100, 1);
  }

}


math-table {
  vertical-align: middle;
  display: inline-grid !important;
  align-items: baseline;

  &.std {
    gap: spacing(9) spacing(0);
  }

  &.stk {
    gap: spacing(0) spacing(0);
  }

  &.mat {
    gap: spacing(6) spacing(15);
  }

  &.cas {
    gap: spacing(9) spacing(24);
  }

  >math-cell {
    text-align: center;
  }

}


math-diagram {
  row-gap: spacing(54);
  column-gap: spacing(72);
  vertical-align: middle;
  display: inline-grid !important;
  align-items: baseline;
  position: relative;

  $row-gaps: (non: 0, sthn: 9, vthn: 18, thn: 36, med: 54, thk: 72, vthk: 90, sthk: 108, uthk: 126);
  $column-gaps: (non: 0, sthn: 12, vthn: 24, thn: 48, med: 72, thk: 96, vthk: 120, sthk: 144, uthk: 168);

  @each $name, $gap in $row-gaps {
    &.v#{$name} {
      row-gap: spacing($gap);
    }
  }

  @each $name, $gap in $column-gaps {
    &.h#{$name} {
      column-gap: spacing($gap);
    }
  }

  >math-cellwrap {
    text-align: center;
  }

  @each $name, $gap in $row-gaps {
    >math-cellwrap.v#{$name} {
      margin-top: spacing($gap);
    }
  }

  @each $name, $gap in $column-gaps {
    >math-cellwrap.h#{$name} {
      margin-left: spacing($gap);
    }
  }

  >math-arrow {
    font-size: 80%;
    position: absolute;
  }

  >svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: visible;
  }

  >svg path {
    stroke-width: 0.06;
    stroke: currentcolor;
    fill: none;
  }

  >svg path.double.base {
    stroke-width: 0.24;
  }

  >svg path.double.cover {
    stroke-width: 0.12;
  }

  >svg path.triple.base {
    stroke-width: 0.42;
  }

  >svg path.triple.cover {
    stroke-width: 0.3;
  }

  >svg path.triple.front {
    stroke-width: 0.06;
  }

  >svg path.dashed {
    stroke-dasharray: 0.2 0.2;
  }

  >svg marker {
    overflow: visible;
  }
  
}


math-space {

  $margins: (
    afun: 3, abin: 4, arel: 5, asbin: 8, asrel: 8, amat: 15, acas: 24,
    sthn: 1, vthn: 2, thn: 3, med: 4, thk: 5, vthk: 6, sthk: 7, uthk: 8, hlf: 9, sgl: 18, ssq: 27, dbl: 36
  );

  @each $name, $margin in $margins {
    &.#{$name} {
      margin-left: spacing($margin) !important;
    }
  }

}


math-phantom {
  visibility: hidden;

  &.hor {
    height: 0em !important;
  }

  &.ver {
    width: 0em !important;
  }

}


math-text {
  line-height: 1;
  white-space: pre;
}


math-root {
  line-height: 0;
  display: inline-block;
  box-sizing: border-box;
  white-space: nowrap;

  * {
    display: inline-block;
    box-sizing: border-box;
  }

  $margins: (bin: 4 4, rel: 5 5, sbin: 8 8, srel: 8 8, del: 0 5, fun: 0 3, ord: 0 0, par: 0 0, lpar: 0 0, rpar: 0 0, cpar: 5 5);

  @each $name, $margin in $margins {
    *.#{$name} {
      margin-left: spacing(nth($margin, 1));
      margin-right: spacing(nth($margin, 2));
    }
  }

  *.fun {
    font-style: normal;
  }

  *.fun +*.par,
  *.fun +*.lpar {
    margin-left: spacing(- nth(map-get($margins, fun), 2));
  }

  *.not {
    padding-left: spacing(5);
    padding-right: spacing(5);
    margin-left: spacing(-10);
    margin-right: spacing(0);
  }

  *:not(.lpres) >*:first-child {
    margin-left: spacing(0);
  }

  *:not(.rpres) >*:last-child {
    margin-right: spacing(0);
  }

}


@font-face {
  font-family: "Math";
  src: url("__mathfonturl__");
}